<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cartesian Plane</title>

        <script src="{{=URL('static','js/jquery.js')}}"></script>
        <script src="{{=URL('static','js/web2py.js')}}"></script>
        <script type="text/javascript" src="../static/js/applet/RealRobot.js"></script>
        <!--  <script type="text/javascript" src="../static/js/applet/communication.js"></script> -->
        <script type="text/javascript" src="../static/js/applet/main.js"></script>

        <script>
            var draggingEnabled = false;
            var realRobotEnabled = false;
            var togglePassword = "clippyiscool";

            $(function() {
                $("#dragToggle").click(function(e) {
                    draggingEnabled = !draggingEnabled;
                    pF.setLockEnabled(draggingEnabled);
                    $(this).text("Dragging " + (draggingEnabled ? "ON" : "OFF"));
                    return false;
                });

                $("#realRobot").click(function(e) {
                    realRobotEnabled = realRobot.toggleRobot();
                    $(this).text("Real Robot " + (realRobotEnabled ? "ON" : "OFF"));
                    return false;
                });

                // Problem selection logic
                $("#problemSelector").click(function () {
                    var selectedProblemNumber = Number((prompt("Enter problem number : ") - 1));

                    // log("selectedProblemNumber : " + (selectedProblemNumber + 1), {"source":__SOURCE__});

                    // The case is constructed this way since '0' is a special case that made if(selectedProblemNumber) to be false.
                    if((selectedProblemNumber && selectedProblemNumber >= 0) || selectedProblemNumber == 0) {
                        setProblemNumber(selectedProblemNumber);
                    }
                    else {
                        //alert("Undefined problem number!");
                    }

                    //This helps the window from shifting after function execution.
                    return false;
                });

                $("#controlsToggle").click(function(e){
                    e.preventDefault();
                    if(prompt("What is the keyword?") == togglePassword){
                        $(".toggle").toggle();
                    } else {
                        alert("ah-ah-ah! You didn't say the magic word!");
                    }
                });
            });

            var ADR = {};
            ADR.POST_SOLUTION_CHECK = "{{=URL('post_Solution_Check')}}";
            ADR.SET_PROBLEM_NUMBER = "{{=URL('set_Problem_Number')}}";
            ADR.MAKE_ATTRIBUTION = "{{=URL('mobileinterface','robot','make_attribution')}}";
            ADR.MAKE_COGNITIVE_PROMPT = "{{=URL('mobileinterface','robot','make_cognitive_prompt')}}";
            ADR.RANDOMLY_ORDER_PROMPT = "{{=URL('mobileinterface','robot','randomly_order_prompts')}}";
            ADR.INCREMENT_PROMPT_COUNT = "{{=URL('mobileinterface','default','increment_prompt_count')}}";
            ADR.LOG = "{{=URL('log')}}"
            ADR.SEND_DATA_TO_MOBILE = "{{=URL('send_data_to_mobile')}}"

        </script>

        <style>
            body {
                position: relative;
                padding-left: 135px;
                padding-top: 70px;
                min-width: 1022px;
            }

            /* This snippet positions the action-list to the right side of the body*/
            #action-list {
                position: absolute;
                right: 0;
                top: 0;
            }
        </style>
    </head>

    <body>
        {{=applet}}
        <!-- Changed problem-desc from a div tag to a pre tag. Essentially did this since the text in this tag is later modified with newline characters in between and the div tag disregards the newline character and prints everything in single line. The pre tag preserves the newline and renders accordingly -->
        <pre class="toggle" id="problem-desc">This is the current problem</pre>
        <pre class="toggle" id="action-list"></pre>
        <a href="#" id="controlsToggle">Toggle Controls</a> <span class="toggle">|</span>
        <a href="#" class="toggle" id="problemSelector">Change Problem</a> <span class="toggle">|</span>
        <a href="#" class="toggle" id="dragToggle">Dragging OFF</a> <span class="toggle">|</span>
        <a href="#" class="toggle" id="realRobot">Real Robot OFF</a>
        <script>
            try {
                var olddata = "0";
                var currentProblem;
                var userActionList = [];
                var appletLockStatus = false;
                
                // log("test",{"source":__SOURCE__});

                $(document).ready(function() {
                    if(!web2py_websocket('ws://{{=ip}}:{{=port}}/realtime/{{=group_name}}', function(e) {
                        console.dir("incoming packet : " + e.data);
                        incoming = JSON.parse(unescape(e.data));
                        // TODO improve detection. Encapsulate the object and include a type property
                        // TODO need to incorporate message types/profiles, probaby in an external js file.
                        if(incoming instanceof Array) {
                            var toggleBack = false;
                            if(realRobot.isRobotEnabled() && incoming.length > 0){
                                realRobot.toggleRobot();
                                toggleBack = true;
                            }
                            // Execute array of actions (replay steps)
                            updateProblem();
                            actions = [];
                            for(var i = 0; i < incoming.length; i++) {
                                var action = incoming[i];
                                var newAction = new Action(action.name, action.op);
                                if(i === incoming.length-1 && toggleBack){
                                    newAction.callback = function(){
                                        // Enabling robot again after executing all steps
                                        realRobot.toggleRobot();
                                    }
                                }

                                actions.push(newAction);
                            }

                            //Clearing out the user actions if the problem is restarted
                            if(actions.length == 0) {
                                userActionList = [];
                                // console.log("action-list is empty....ARRAY");
                                $("#action-list").text("");
                            }

                            primitiveActions.executeAction(actions);
                        }
                        else if(incoming.type == "lockapplet") {
                            // log("Lock Applet!", {"source":__SOURCE__});
                            // $("#ggbApplet").height(1).width(1);
                            // $("#ggbApplet").hide();
                            appletLockStatus = true;

                            // Disabling the robot and all the points
                            // realRobot.toggleRobot();
                            // geoApp.setMode(27);
                            // geoApp.setLayerVisible(0, false);
                            // geoApp.setLayerVisible(1, false);
                            // Disabling clicks on the robot and eye.
                            // geoApp.unregisterObjectClickListener("R");
                            // geoApp.unregisterObjectClickListener("E");
                            toggleAllObjectClickListeners(false);
                        }
                        else if(incoming.type == "unlockapplet") {
                            // log("Unlock Applet!",{"source":__SOURCE__});
                            // $("#ggbApplet").show();
                            appletLockStatus = false;

                            // Enabling the robot and all the points
                            // realRobot.toggleRobot();
                            // geoApp.setMode(27);
                            // geoApp.setLayerVisible(0, true);
                            // geoApp.setLayerVisible(1, true);
                            // Enabling clicks on the robot and eye.
                            // geoApp.registerObjectClickListener("R", "alertWasClicked");
                            // geoApp.registerObjectClickListener("E", "alertWasClicked");
                            toggleAllObjectClickListeners(true);
                        }
                        else if(incoming.type == "check") {
                            // log("Solution check triggered.",{"source":__SOURCE__});
                            //Do solution check here
                            //confirm("You clicked on Check Solution");
                            var isSolutionCorrect = false;
                            var currentProblemIndex = incoming.id;
                            var correctSolutionsCounter = 0; //There may be multiple points that need to be plotted/positioned on the cartesian plane.
                            var solutionStatus = {"points" : [], "lines" : []}; //Tell us if each of the sub solutions is correct or not
                            var processingString = "";
                            var threshhold_limit = 0.25;
                            var messageBackToMobile = "";
                            if(incoming.solution.points) {
                                // To enable the check for any point to be within the theshhold, and not just a specific point mentioned in the solution, we'll need to get the number of objects on screen using getObjectNumber and get the list of object names using getObjectName(int i). Then we refine this list to only show the points on screen. Then we iterate over every point and check for threshhold.
                                var pointList = [];
                                var no_of_objects = geoApp.getObjectNumber();
                                for(var i = 0 ; i < no_of_objects ; i++) {
                                    var objectName = geoApp.getObjectName(i);
                                    
                                    // log("objectName : " + objectName,{"source":__SOURCE__});
                                    
                                    // !!!Disregarding robot and eye for now, and adding all other points!!!
                                    if(geoApp.getObjectType(objectName).toLowerCase() == "point" && pointList.indexOf(objectName) == -1 && objectName.toLowerCase() != "r" && objectName.toLowerCase() != "e") {
                                        pointList.push(objectName);
                                    }
                                    else {
                                        // log("Ignored " + objectName,{"source":__SOURCE__});
                                    }
                                }

                                // log(JSON.stringify(pointList),{"source":__SOURCE__});
                                
                                var solutionPointsArray = incoming.solution.points;
                                var numberOfSolutions = 0;

                                if(pointList.length != 0) {
                                    for(var i = 0 ; i < solutionPointsArray.length ; i++) {
                                        var point = solutionPointsArray[i];
                                        var solutionPointName = point.name;

                                        // !!!Disregarding robot for now!!!
                                        if(solutionPointName.toLowerCase() == "robot") {
                                            continue;
                                        }
                                        else {
                                            numberOfSolutions++;
                                        }

                                        var correctX = point.x;
                                        var correctY = point.y;
                                        var upperX = (correctX + threshhold_limit);
                                        var lowerX = (correctX - threshhold_limit);
                                        var upperY = (correctY + threshhold_limit);
                                        var lowerY = (correctY - threshhold_limit);

                                        solutionStatus.points[i] = false;

                                        // log("Solution point name " + solutionPointName);

                                        for(var j = 0 ; j < pointList.length ; j++) {
                                            // !!!Disregarding robot for now!!!
                                            // if(solutionPointName.toLowerCase() == "robot") {
                                                // break;
                                            // }

                                            var pointName = pointList[j];
                                            
                                            // log("Looking at point " + pointName);
                                            
                                            // Only if the object/point is visible on screen
                                            if(geoApp.getVisible(pointName)) {
                                                // log("CorrectX : " + correctX + "\nCorrectY : " + correctY);

                                                // !!!Careful of using toFixed, get a confirmation of the proper rounding rules to be applied.
                                                // !!!Incorporating the threshhold.
                                                if(geoApp.getObjectType(pointName).toLowerCase() == "point") {
                                                    
                                                    var actualX = geoApp.getXcoord(pointName).toFixed(2);
                                                    var actualY = geoApp.getYcoord(pointName).toFixed(2);

                                                    // log("ActualX : " + actualX + "\nActualY : " + actualY + "\n\nUpperX : " + upperX + "\nLowerX : " + lowerX + "\nUpperY : " + upperY + "\nLowerY : " + lowerY);

                                                    if(actualX <= upperX && actualX >= lowerX && actualY <= upperY && actualY >= lowerY) {
                                                        // !!!Should I remove the point from pointList???
                                                        solutionStatus.points[i] = true;

                                                        // alert(pointName + " i <--> i " + geoApp.isIndependent(pointName));
                                                        // alert(pointName + " m <--> m " + geoApp.isMoveable(pointName));

                                                        // log("Incrementeing correctSolutionsCounter.....");
                                                        
                                                        correctSolutionsCounter++;
                                                        //isSolutionCorrect = true;

                                                        //!!! Very important step. Remove the solution point and the cartesian solution once we get a match.
                                                        solutionPointsArray.splice(i, 1);
                                                        i--;

                                                        pointList.splice(j, 1);
                                                        j--;

                                                        processingString += "Point Name : " + pointName + "\nCorrect X : " + correctX + ", Correct Y : " + correctY + "\n";
                                                        processingString += "GEO APP X : " + geoApp.getXcoord(pointName).toFixed(2) + ", GEO APP Y : " + geoApp.getYcoord(pointName).toFixed(2) + "\n";
                                                        
                                                        break;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    // log("correctSolutionsCounter : " + correctSolutionsCounter + "\nsolutionPointsArray.length : " + solutionPointsArray.length + "\nnumberOfSolutions : " + numberOfSolutions);

                                    //!!! Careful, you'll need to change this when lines are incoporated in the solution.
                                    // if(correctSolutionsCounter == solutionPointsArray.length) {
                                    if(correctSolutionsCounter == numberOfSolutions) {
                                        isSolutionCorrect = true;
                                    }
                                }
                                else {
                                    messageBackToMobile = "You have not plotted any points.";

                                    // !!!This is just to make sure the check at the bottom is false
                                    numberOfSolutions = -1;
                                    // alert("No points to check");
                                }

                                if(processingString != "") {
                                    // log(processingString);
                                }

                                console.dir("Your solution is " + (isSolutionCorrect ? "correct" : "wrong") + "!");
                                postSolutionCheck(isSolutionCorrect, messageBackToMobile, currentProblemIndex);
                            }
                        }
                        else if(incoming.type == "geogebrastatus") {
                            var outgoing = {"type":"geogebrastatus", "data":getGeogebraStatus()};
                            sendDataToMobile(outgoing);
                         }
                        else if(incoming.type != "check") {
                            if(incoming.label !== undefined) {
                                console.dir("Execute action");
                                olddata = incoming;
                                
                                //Displaying user actions as and when they happen
                                userActionList.push(incoming.label);
                                var userActionsString = "User Actions:\n";
                                
                                for(var i = 0 ; i < userActionList.length ; i++) {
                                    userActionsString = userActionsString + Number(i+1) + ". " + userActionList[i].toString() + "\n";
                                }
                                $("#action-list").text(userActionsString);
                                
                                // Execute action
                                executeAction();    
                            }
                            else if(incoming.id !== undefined) {
                                console.dir("Update problem info");
                                // Update problem info
                                currentProblem = incoming;
                                updateProblem();
                                
                                // console.log("action-list is empty....id !== undefined");

                                //Clearing out the user actions if the problem is restarted
                                userActionList = [];
                                $("#action-list").text(userActionsString = "");//clearing the user actions display and string


                                var currentProblemDescString = currentProblem.text + "\n";
                                
                                for(var i = 0 ; i < currentProblem.prompts.length ; i++) {
                                    currentProblemDescString = currentProblemDescString + Number(i+1) + " " + currentProblem.prompts[i].toString() + "\n";
                                }
                                
                                $("#problem-desc").text(currentProblemDescString);
                            }
                        }
                        else {
                            alert("Fall through error...");
                        }
                        
                    })) {
                        alert("html5 websocket not supported by your browser, try Google Chrome");
                    }
                });

                function updateProblem(){
                    console.dir("Updating plane to problem ID #" + currentProblem.id +"...");
                    pF.appReady(currentProblem.points, currentProblem.lines);
                    realRobot.reset();
                }

                function executeAction(){
                    // log("EXECUTING CLICKLISTENER EVENT!!! " + olddata.name + " - " + JSON.stringify(olddata));
                    clickListener.executeEvent(new Action(olddata.name, olddata.op));
                }
            }
            catch(e) {
                log("Error : " + e,{"source":__SOURCE__});
            }
        </script>
    </body>
</html>