<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cartesian Plane</title>

        <script src="{{=URL('static','js/jquery.js')}}"></script>
        <script src="{{=URL('static','js/web2py.js')}}"></script>

        <script>
            var draggingEnabled = true;

            $(function(){
                $("#dragToggle").click(function(e){
                    draggingEnabled = !draggingEnabled;
                    pF.setLockEnabled(draggingEnabled);
                    $(this).text("Dragging " + (draggingEnabled ? "ON" : "OFF"));
                });
            });
        </script>

        <style>
            body{ 
                position: relative;
                padding-left: 135px;
                padding-top: 70px;
                min-width: 1022px;
            }

            /* This snippet positions the action-list to the right side of the body*/
            #action-list {
                position: absolute;
                right: 0;
                top: 0;
            }
        </style>

    </head>
    <body>
        {{=applet}}
        <!-- Changed problem-desc from a div tag to a pre tag. Essentially did this since the text in this tag is later modified with newline characters in between and the div tag disregards the newline character and prints everything in single line. The pre tag preserves the newline and renders accordingly -->
        <pre id="problem-desc">This is the current problem</pre>
        <pre id="action-list"></pre>
        <a href="#" id="dragToggle">Dragging ON</a>
        <script>
            var olddata = "0";
            var currentProblem;
            var userActionList = [];
            $(document).ready(function(){
                if(!web2py_websocket('ws://{{=ip}}:{{=port}}/realtime/{{=group_name}}',function(e){
                    console.dir(e.data);
                    incoming = JSON.parse(unescape(e.data));
                    // TODO improve detection. Encapsulate the object and include a type property
                    // TODO need to incorporate message types/profiles, probaby in an external js file.
                    if(incoming instanceof Array) {
                        // Execute array of actions (replay steps)
                        updateProblem();
                        actions = [];
                        for(var i = 0; i < incoming.length; i++){
                            var action = incoming[i];
                            actions.push(new Action(action.name, action.op));
                        }

                        //Clearing out the user actions if the problem is restarted
                        if(actions.length == 0) {
                            userActionList = [];
                            $("#action-list").text("");
                        }

                        primitiveActions.executeAction(actions);
                    }
                    else if(incoming.type != "check") {
                        if(incoming.label !== undefined) {
                            console.dir("Execute action");
                            olddata = incoming;
                            
                            //Displaying user actions as and when they happen
                            userActionList.push(incoming.label);
                            var tmpString = "User Actions:\n";
                            
                            for(var i = 0 ; i < userActionList.length ; i++) {
                                tmpString = tmpString + Number(i+1) + ". " + userActionList[i].toString() + "\n";
                            }
                            $("#action-list").text(tmpString);
                            
                            // Execute action
                            executeAction();    
                        }
                        else if(incoming.id !== undefined) {
                            console.dir("Update problem info");
                            // Update problem info
                            currentProblem = incoming;
                            updateProblem();
                            
                            var tmpString = currentProblem.text + "\n";
                            
                            for(var i = 0 ; i < currentProblem.prompts.length ; i++) {
                                tmpString = tmpString + Number(i+1) + " " + currentProblem.prompts[i].toString() + "\n";
                            }
                            
                            $("#problem-desc").text(tmpString);
                        }
                    }
                    else if(incoming.type == "check") {
                        //Do solution check here
                        //confirm("You clicked on Check Solution");
                        //var point1 = geoApp.getPoint("P1");
                        //alert(geoApp.getXcoord("P1"));
                        var isSolutionCorrect = true;
                        var processingString = "";
                        if(incoming.solution.points) {
                            for(var i = 0 ; i < incoming.solution.points.length ; i++) {
                                var point = incoming.solution.points[i];
                                var pointName = point.name;
                                var correctX = point.x;
                                var correctY = point.y;

                                processingString += "Point Name : " + pointName + "\nCorrect X : " + correctX + ", Correct Y : " + correctY + "\n";
                                
                                // !!!Disregarding robot for now!!!
                                if(pointName.toLowerCase() != "robot") {
                                    // Only if the object/point is visible on screen
                                    if(geoApp.getVisible(pointName)) {
                                        // !!!Careful of using toFixed, get a confirmation of the proper rounding rules to be applied.
                                        if(geoApp.getObjectType(pointName).toLowerCase() == "point" && geoApp.getXcoord(pointName).toFixed(2) == correctX && geoApp.getYcoord(pointName).toFixed(2) == correctY) {
                                            isSolutionCorrect = true;
                                        }
                                        else {
                                            isSolutionCorrect = false;
                                        }
                                        
                                        processingString += "GEO APP X : " + geoApp.getXcoord(pointName).toFixed(2) + ", GEO APP Y : " + geoApp.getYcoord(pointName).toFixed(2) + "\n";
                                    }
                                    else {
                                        alert(pointName + " is not visible on cartesian plane.");
                                        isSolutionCorrect = false;
                                    }
                                }
                            }

                            if(processingString != "") {
                                alert(processingString);
                            }

                            alert("Your solution is " + (isSolutionCorrect ? "correct" : "wrong") + "!");
                        }
                    }
                    else {
                        alert("Fall through error...");
                    }
                    
                })){
                    alert("html5 websocket not supported by your browser, try Google Chrome");
                }
            });

            function updateProblem(){
                console.dir("Updating plane to problem ID #" + currentProblem.id +"...");
                pF.appReady(currentProblem.points, currentProblem.lines);
                realRobot.reset();
            }

            function executeAction(){
                console.log("EXECUTING CLICKLISTENER EVENT!!! " + olddata.name + " - " + olddata.op);
                clickListener.executeEvent(new Action(olddata.name, olddata.op));
            }

        </script>
    </body>
</html>